.eliminar {
    background-color: antiquewhite;
    border-radius: 20px;
    color: black;
    margin-left: 15px;
}

.evento {
    background-color: white ;
    border-radius: 10px;
    color: black;
}

#eventosDisponibles{
    max-height: 300px;

}

.info-horario{
    height: 100%;
    margin-bottom: 5px; 
    border-radius: 10px;
    background-color: lightgray;
}

#botonLogout {
    position: absolute;
    top: 15px;
    right: 20px;
}

